.product-manager-buttons {
  text-align: right;
  margin-bottom: 30px;
}

.product-manager-card {
  padding-bottom: 35px;
  padding-top: 35px;
}

.product-manager-add-message {
  cursor: pointer;
}

.product-manager-accordion .mat-expansion-panel-header-title,
.product-manager-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.product-manager-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.list {
  text-align: left;
}

.container {
  margin-top: 3em;
}

h1 {
  font-size: 3.375rem;
  margin-bottom: 1em;
  line-height: normal;
}
