.product-manager-buttons {
  text-align: right;
  margin-bottom: 30px;
}

.product-manager-card {
  margin: 0 auto 0 auto;
  width: 85%;
  min-width: 350px;
  padding-bottom: 35px;
  padding-top: 35px;
}

.product-manager-add-message {
  cursor: pointer;
}

.product-manager-accordion .mat-expansion-panel-header-title,
.product-manager-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.product-manager-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.list {
  text-align: left;
}

.container {
  margin-top: 3em;
}

h1 {
  font-size: 4.375rem;
  margin-bottom: 1em;
}

@media (max-width: 900px) {
  .dashboard-card {
    margin: 5% auto 0 auto;
    width: 85%;
  }

  h1 {
    line-height: normal;
  }
}
