<div class="container">
  <mat-card class="product-manager-card">
    <h1 class="banner">Mantenimiento de productos</h1>
    <div class="product-manager-buttons">
      <a routerLink="/dashboard/product-manager-create" mat-raised-button color="primary">Crear producto</a>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-accordion class="product-manager-accordion">
      <mat-expansion-panel [expanded]="!loading">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Usuarios
          </mat-panel-title>
          <mat-panel-description *ngIf="!loading">
            {{products.length}} productos en la plataforma
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list class="list">
          <mat-list-item *ngFor="let p of products">
            <mat-icon mat-list-icon color="primary">restaurant</mat-icon>
            <h4 mat-line>{{p.name}}</h4>
            <p mat-line> {{p.pvp}}€ </p>
            <a [routerLink]="'/dashboard/product-manager/'+p.id">
              <mat-icon mat-list-icon color="primary">edit</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
