<div class="container">
  <mat-card class="warehouse-manager-detail-card">
    <h1 class="banner">Editar almacén</h1>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="form-container" *ngIf="!loading">
      <form class="warehouse-manager-detail-form" [formGroup]="myForm">
        <mat-grid-list cols="1" rowHeight="85px">
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Nombre</mat-label>
              <input
                  matInput
                  type="text"
                  placeholder="Nombre del almacén"
                  formControlName="name"
              >
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <div class="warehouse-manager-detail-buttons">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <button
                class="warehouse-manager-detail-button"
                mat-raised-button color="primary"
                (click)="submitForm()"
                [disabled]="submitFormDisabled()"
            >
              Aceptar
              <mat-progress-spinner *ngIf="loading"
                                    class="warehouse-manager-detail-spinner"
                                    mode="indeterminate"
                                    [diameter]="17">
              </mat-progress-spinner>
            </button>
          </div>
          <div class="col-md-3">
            <a class="warehouse-manager-cancel-button" routerLink="/dashboard/warehouse-manager" mat-raised-button
               color="accent">
              Cancelar
            </a>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
