/* You can add global styles to this file, and also import other style files */

@media print {
  html, body {
    height: 100% !important;
    overflow: auto;
    min-height: auto;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #ffd59b;
  background: linear-gradient(#ffd59b, #fda651), #ffd59b;
  font-size: 1em !important;
  color: #2d2d2d;
  min-height: 900px;
}

h1 {
  font-family: 'Lato', sans-serif !important;
}

button {
  font-size: 1em !important;
}

.container > mat-card {
  min-width: 260px !important;
}

.sidenav-content {
  background-color: transparent;
}

.sidenav-button {
  width: 100%;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}
