/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #ffd59b;
  background: linear-gradient(#ffd59b, #fda651), #ffd59b;
  font-size: 1em !important;
  color: #2d2d2d;
}

h1 {
  font-family: 'Lato', sans-serif !important;
}

button {
  font-size: 1em !important;
}

.sidenav-content {
  background-color: transparent;
}

.sidenav-button {
  width: 100%;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
