<div class="dashboard">
  <div class="dashboard-body" [ngClass]="ngClassContainerMenuOpen()">
    <div class="container">
      <header>
        <div class="menu-toggle"
             [ngClass]="ngClassToggleMenuOpen()"
             (click)="toggleMenu()">
          <span class="menu-toggle-loading">
            <mat-progress-spinner *ngIf="loading"
                                  class="spinner"
                                  mode="indeterminate"
                                  [diameter]="27">
          </mat-progress-spinner>
          </span>
          <span class="menu-toggle-grippy">Toggle</span>
          <span class="menu-toggle-label">Menu</span>
        </div>
      </header>

      <section class="banner" role="banner">
        <div class="alert alert-warning" *ngIf="loading">
          Espere mientras el sistema arranca
        </div>
        <div class="alert alert-danger" *ngIf="backendError">
          El sistema parece caído, por favor espere a que se recupere
        </div>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
  <div class="hidden-panel">

    <span class="hidden-panel-close" (click)="toggleMenu()">
      X
    </span>

    <div class="hidden-panel-content">

      <nav class="hidden-panel-nav">
        <h3>Navegación</h3>
        <ul>
          <li><a href="#" title="Home">Home</a></li>
          <li><a href="#" title="Pedidos">Pedidos</a></li>
          <li><a href="#" title="Caja">Caja</a></li>
          <li><a href="#" title="Almacén">Almacén</a></li>
          <li><a href="#" title="Contacto">Contacto</a></li>
          <li><a routerLink="/" title="Logout" (click)="logout()">Logout</a></li>
        </ul>
      </nav>

      <div class="hidden-panel-text">
        <p>
          Esta aplicación es un trabajo de fin de grado
          hecha para el economato social de Cáritas en Alicante,
          a través de la Universidad de Alicante.
        </p>
      </div>

      <div class="hidden-panel-credits">
        <span>Coded by <a href="https://github.com/DiegoMGar/TFG" title="Diego Maroto">Diego Maroto</a>.</span>
        <span>Fronted with <a href="https://angular.io/" title="Angular 11">Angular 11</a>.</span>
        <span>Backend with <a href="https://nestjs.com/" title="NestJS">NestJS</a>.</span>
        <span>Hosted by <a href="https://www.heroku.com/" title="Heroku">Heroku</a>.</span>
      </div>

    </div>
  </div>
</div>
