<div class="dashboard">
  <div class="dashboard-body" [ngClass]="ngClassContainerMenuOpen()">
    <div class="main-container">
      <header>
        <div class="menu-toggle"
             [ngClass]="ngClassToggleMenuOpen()"
             (click)="toggleMenu()">
          <span class="menu-toggle-loading">
            <mat-progress-spinner *ngIf="loading"
                                  class="spinner"
                                  mode="indeterminate"
                                  [diameter]="27">
          </mat-progress-spinner>
          </span>
          <span class="menu-toggle-grippy">Toggle</span>
          <span class="menu-toggle-label">Menu</span>
        </div>
      </header>

      <section class="banner" role="banner">
        <div class="alert alert-warning" *ngIf="loading">
          Espere mientras el sistema arranca
        </div>
        <div class="alert alert-danger" *ngIf="backendError">
          El sistema parece caído, por favor espere a que se recupere
        </div>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
  <div class="hidden-panel">

    <span class="hidden-panel-close" (click)="toggleMenu()">
      X
    </span>

    <div class="hidden-panel-content">

      <nav class="hidden-panel-nav">
        <h3>Navegación</h3>
        <ul>
          <li>
            <a routerLink="/dashboard" title="Home" (click)="toggleMenu()">
              Home
            </a>
          </li>
          <li *ngIf="userService.isWarehouse()">
            <a routerLink="/dashboard/warehouse" title="Almacén" (click)="toggleMenu()">
              Almacén
            </a>
          </li>
          <li *ngIf="userService.isReception()">
            <a routerLink="/dashboard/reception" title="Pedidos" (click)="toggleMenu()">
              Pedidos
            </a>
          </li>
          <li *ngIf="userService.isCash()">
            <a routerLink="/dashboard/cash" title="Caja" (click)="toggleMenu()">
              Caja
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/profile" title="Perfil" (click)="toggleMenu()">
              Perfil
            </a>
          </li>
          <li>
            <a routerLink="/" title="Logout" (click)="logout()">
              Cerrar sesión
            </a>
          </li>
        </ul>
      </nav>

      <nav class="hidden-panel-nav" *ngIf="userService.isAdminLocal()">
        <h3>Administración</h3>
        <ul>
          <li><a routerLink="/dashboard/warehouse-manager" title="Almacenes" (click)="toggleMenu()">Almacenes</a></li>
          <li><a routerLink="/dashboard/product-manager" title="Productos" (click)="toggleMenu()">Productos</a></li>
          <li><a routerLink="/dashboard/user-manager" title="Usuarios" (click)="toggleMenu()">Usuarios</a></li>
        </ul>
      </nav>

      <nav class="hidden-panel-nav" *ngIf="userService.isAdminLocal()">
        <h3>Servicio técnico</h3>
        <ul>
          <li>
            <a routerLink="/dashboard/about" title="Contacto" (click)="toggleMenu()">
              Contacto
            </a>
          </li>
        </ul>
      </nav>

      <div class="hidden-panel-text">
        <p>
          Esta aplicación es un trabajo de fin de grado
          hecha para el economato social de Cáritas en Alicante,
          a través de la Universidad de Alicante.
        </p>
      </div>

      <div class="hidden-panel-credits">
        <span>Coded by <a href="https://github.com/DiegoMGar/TFG" title="Diego Maroto">Diego Maroto</a>.</span>
        <span>Fronted with <a href="https://angular.io/" title="Angular 11">Angular 11</a>.</span>
        <span>Backend with <a href="https://nestjs.com/" title="NestJS">NestJS</a>.</span>
        <span>Hosted by <a href="https://www.heroku.com/" title="Heroku">Heroku</a>.</span>
      </div>

    </div>
  </div>
</div>
