.invoice-buttons {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.invoice-buttons > div {
  margin: 20px 0;
}

.invoice-button {
  min-width: 200px;
  max-width: 300px;
  width: 100%;
}

.invoice-next-step-button {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}

.invoice-family-info {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
  display: block;
}

.invoice-family-info > div > div {
  margin-top: 10px;
}

.invoice-family-info > div > div > p {
  vertical-align: middle;
  margin: 0;
  line-height: 34px;
}

.invoice-family-info-chip-list {
  display: inline-flex;
}

.invoice-family-info-span {
  margin-left: 20px;
  line-height: 24px;
}

.invoice-family-info-span.divider {
  color: #7d7d7d;
}

.invoice-family-info-span:first-child {
  margin-left: 0;
}

.invoice-spinner {
  margin-left: 15px;
  display: inline;
}

.invoice-products-form {
  margin-top: 30px;
}

.invoice-invoice-form {
  padding-top: 10px;
}

.invoice-card {
  padding-top: 0;
}

.container {
  margin-top: 3em;
}

h1 {
  font-size: 3.375rem;
  margin-bottom: 0.5em;
  line-height: normal;
}

.form-first-step {
  padding-top: 50px;
}

.selectables-first-step-button-toggle {
  margin-top: 30px;
}

.selectables-first-step-slide-toggle {
  margin-top: 40px;
}

.table td, .table th {
  vertical-align: middle;
}

.color-grey {
  color: #999999;
}

@media print {
  .container {
    margin-top: 0;
  }
}
